@import "../../App.module.scss";

.outerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 150px;
    width: 65%;
    max-width: 120vh;
    height: 60vh;
    border-radius: 1.5rem;
    margin: 3vh;
    background-color: var(--card-color);
    font-family: "Roboto", sans-serif;
}

.container {
    color: var(--font-color);
}