@import "../../App.module.scss";

.defaultButton {
    background-color: var(--tertiary-color);
    border-radius: 1rem;
    width: 7rem;
    height: 2em;
    padding-bottom: 0.3rem 0.3rem;
    margin-bottom: 6vh;
    font-size: 1rem;
    color: var(--font-color);
    border: none;
    text-align: center;
}

.loginButton {
    border-radius: 1rem;
    width: 7rem;
    height: 2em;
    padding-bottom: 0.3rem 0.3rem;
    font-size: 1rem;
    color: var(--font-color);
    border: none;
    text-align: center;
    background-color: var(--tertiary-color);
    margin-bottom: 0;
}