.trackContainer {
  text-align: center;
  width: 15vw;
  height: 20vw;
  background-color: rgba(0, 0, 0, 0.534);
  color: var(--font-color);
  padding: 1rem;
  margin: 1rem;
  overflow: hidden;
}



.image {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  margin: 0;
}

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-color: transparent;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  color: var(--font-color);
  margin-right: 1rem;
}