.trackContainer {
    display: grid;
    text-align: left;
    grid-template-columns: 8fr 1fr;
    grid-template-rows: 2;
    background-color: rgb(29, 88, 32);
    width: 100%;
    color: white;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    align-items: center;
}

.info {
    margin: 0;
    padding-left: 1rem;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.addButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    color: white;
    margin-right: 1rem;

}