:root {
  --tertiary-color: #730e0fe8;
  --background-color: #000000db;
  --font-color: #f9f5f5ff;
  --primary-color: #0c0c0cad;
  --secondary-color: #5858583b;
  --card-color: #222222dc;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../public/pexels-stephen-niemeier-63703.jpg");
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--font-color);
}

.trackLists {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
